@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F9F9F9;
  color: #171717;
}

/* Ensure focus states are accessible and clean */
*:focus-visible {
  outline: 2px solid #E3000F;
  outline-offset: 4px;
}